.nav{
    background-color: #45b20f;
    opacity: 0.76;
    margin-bottom: 0.5rem;
    padding: 2rem 0.5rem;
    border-radius: 4px;
    min-width: fit-content;
}
.pointing:hover{
    cursor: pointer;
}
body{
    background-color: #212121;
    background-size: cover;
    /*background-image: url("https://images.pexels.com/photos/2730217/pexels-photo-2730217.jpeg");*/
    background-repeat: no-repeat;
    background-position: center;
}
#root {
    max-width: 100rem;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;

}

